<div id="heroimg">
    <h1 id="appName">HUNGARY</h1>
</div>


<div>
    <div class="my-4">
        <h3 id="aim" class="my-4"> Aim: </h3>

        <div id="aim-desc">The aim of this website is to inform visitors about tourism in Hungary.
            The "cities" tab will inform you more about Hungarian cities. The "Weather" tab will display the weather at
            certain Egyptian areas.Finally, tech ideas tab will display a form which the user might fill if they have a
            technical idea to
            imrpove tourism in Hungary.
        </div>
    </div>


    <div id="about-info" class="mx-4">
        <img [src]="hungaryURL" alt="image of Danube in Budapest">
        <div>
            <div class="m-4">
                <h3>General Facts About Hungary</h3>
                <ul>
                    <li>Population: 9.7 million people live in Hungary (2022)</li>
                    <li>Capital: Budapest with 1.7 million inhabitants</li>
                    <li>Language: Hungarian</li>
                    <li>Currency: Hungarian Forint (HUF)</li>
                </ul>
            </div>
            <div class="m-4">
                <h3 class="my-2">Interesting Facts</h3>
                <ul>
                    <li>Hungary is one of the few landlocked countries in central Europe - together with Austria, Switzerland and Luxembourg.</li>
                    <li>Hungary shares borders with seven countries: Slovakia, Ukraine, Romania, Serbia, Croatia and Slovenia and Austria (see them on the map - clockwise from the top/north).</li>
                    <li>The Danube is Hungary's second longest river. The longest river in Hungary is the Tisza. It passes Hungary over a length of 966 km/ 600 miles on its way from Ukraine to Serbia. The Tisza flows through the Great Hungarian plains and Hungary's third largest city Szeged.</li>
                    <li>The largest lake in Hungary is Lake Balaton. The lake is popular with watersports enthusiasts and surfers.</li>

                </ul>
            </div>
        </div>
    </div>
</div>