.styleCities{
    text-decoration: none;
    border: 3px solid green;
    background: white;
    color: black;
    padding: 10px;
    font-style: italic;
    margin-top:10px;
    font-size: 30px;;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;

}

a {
    text-decoration: none;
}

a:hover{
    background: lightgreen;

}