nav {
    background-color: rgba(192, 192, 192, 1);
    position: sticky;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0%;
    text-align: center;
}

a {
    display: inline;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

a:hover{
    background-color: white;
    font-weight: bold;
}

footer {
   
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    background-color: rgba(192, 192, 192, 0.3);
    bottom: 0%;
    left: 0%;
    width:100%;
}

.active{
    background-color: white;
}